<!DOCTYPE html>              
<html>
	<head>
		<title>Markdown</title>
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/prettify.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:400,400italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="toc">
			<h2><a href="#">Greynode</a></h2>
			<ul id="toc-list">
				<li class="toc-h2"><a href="#">Home</a></li>
				<li class="toc-h2"><a href="#">About</a></li>
				<li class="toc-h3"><a href="#">Resume</a></li>
			</ul>
		</div>
		<div id="wrapper">
			<p style="margin-top:3em;float:right;">[<a href="/edit/{{.Title}}">edit</a>]</p>
			<p>{{.HTMLBody}}</p>
		</div>

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/prettify.js"></script>
		<script src="/static/js/epiceditor.js"></script>
		<script>
		/*global $:false, prettyPrint:false */

		$(function () {
		  $('pre').addClass('prettyprint')
		  prettyPrint()

		  $(window).resize(function () {
			$('#toc').height(window.innerHeight + 'px');
		  }).trigger('resize');
		});
		</script>

	</body>
</html>
